@model IList<rpg.Models.Shop>
@{
    Layout = "~/Views/Shared/_Grid.cshtml";
}

<table id="tabelaGrid" cellpadding="0" cellspacing="0">
    <thead>
        <tr class="titulo">
            <td></td>
            <td>Descrição</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Shop in Model)
        {
            <tr class="linha">
                <td><input class="codloja" type="hidden" value="@Shop.Cod_Shop" /></td>
                <td>@Shop.Descricao</td>
                <td>
                    <a href="javascript: clickmodal(@Shop.Cod_Shop, '@Shop.Descricao')">Editar</a>
                </td>
                <td>
                    <a href="javascript: deletar(@Shop.Cod_Shop, '@Shop.Descricao')">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal" id="modal" style="width: 800px; height: 500px;">
    <div class="fechar">
        <a href="javascript: fecharmodal()">Fechar</a>
    </div>
    <div class="titulomodal" style=" margin-left:42%;">
        <p id="titulomodal" style=" margin-left: 20px;">Editar </p>
    </div>
    <form id="form" method="post">
        <div class="modalform" style="width: 700px; height: 100%; float:left; margin-top:10px;">
            <div class="fordescricao linha">
                <input type="hidden" name="Ficha.Cod_Ficha" value="0" id="cod_ficha" />
                <label for="descricao">Descrição:</label>
                <input id="descricao" name="Ficha.Descricao" required />
            </div>
            
        </div>
        <div style="width: 80px; height: 100%;" class="divbtn">
            <input class="btnsalvar" id="btnsalvar" type="button" value="Salvar" onclick="salvar()" style="margin-top: 425px;" />
        </div>
    </form>
</div>

<div class="modaljs" id="modaljs">
    <p class="textjs">Aguarde</p>
</div>
<script>
    function clickmodal(cod_ficha, descricao) {
        if (cod_ficha != 0) {
            $('#titulomodal').html("Editar Loja");
            $('#descricao').val(descricao);

            
        }
        $('.modal').bPopup({
            modalClose: false
        });
    }

    function botaonovo() {
        $('#titulomodal').html("Nova Loja");
        clickmodal(0);
    }

    function deletar(id, descricao) {
        if (confirm("A Loja " + descricao + " seá excluida do sistema ")) {
            
            $('#tabelaGrid .codloja').each(function () {
                if ($(this).val() == id) {
                    $(this).parent().parent().remove();
                    return false;
                }
            });

            $('table tbody tr:odd').removeClass("zebraUm zebraDois").addClass('zebraUm');
            $('table tbody tr:even').removeClass("zebraUm zebraDois").addClass('zebraDois');
        }
    }

</script>   