@model rpg.Models.Raca
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/UIjquery")
@Styles.Render("~/bundles/UI_css")

@Styles.Render("~/bundles/formcss")
@Styles.Render("~/bundles/gridcss")

<script type="text/javascript">
    $(document).ready(function () {
        $('table tbody tr:odd').addClass('zebraUm');
        $('table tbody tr:even').addClass('zebraDois');
    });

</script>

<div>
    <div id="boxForm">
        <div id="conteudo">
            <form method="post">
                <div class="fordescricao linha">
                    <input type="hidden" name="Raca.Cod_Raca" value="@Model.Cod_Raca" id="Cod_Raca" />
                    <label for="descricao">Descrição:</label>
                    <input id="Descricao" name="Raca.Descricao" value="@Model.Descricao" required style="width:250px;" />
                </div>
                <div class="linha">
                    <label for="Custo">Custo:</label>
                    <input id="Custo" class="numero" name="Raca.Custo" value="@Model.Custo" required />
                </div>
                <div class="linha">
                    <label for="Pericia">Pericia Bonus</label>
                    <select id="cbPericiabonus" name="cbPericiabonus">
                        @foreach (var Pericias in ViewBag.Pericias)
                        {
                            <option value="@Pericias.Cod_Pericia">@Pericias.Descricao</option>
                        }
                    </select>
                    <label for="vlrbonus">Valor do bonus:</label>
                    <input id="vlrbonus" class="numero" name="Classes.vlrbonus" value="" />
                    <input type="button" id="btnaddpericia" class="btnadd" value="Adicionar" onclick="addpericia()" />
                </div>
                <div class="linha">
                    <div id="boxGrid" class="grid_bonuspericia" style=" clear:both !important; margin-top: 8px; margin-left:0px; width:380px;">
                        <div id="nav">
                            <div id="BotoesGrid" class="botoes">
                            </div>
                        </div>
                        <div id="grid">
                            <table id="tabelaGrid" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr class="titulo">
                                        <th></th>
                                        <th>Pericia</th>
                                        <th>Bonus</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var bonus_pericia in ViewBag.periciasload)
                                    {
                                        List<string> b_A = new List<string>(bonus_pericia.Split('_'));
                                        <tr class="linha_grid">
                                            <td><input class="codpericia" type="hidden" value="@b_A[0]" /></td>
                                            <td class="descpericia">@b_A[2]</td>
                                            <td class="vlrbonus">@b_A[1]</td>
                                            <td><a href="javascript:deletarp(@b_A[0], '@b_A[2]')">Deletar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="boxPaginacao">
                        </div>
                    </div>
                </div>

                <div class="linha">
                    <div class="add_vantagens">
                        <label for="prevantagem">Vantagem </label>
                        <select id="cbprevantagem" name="cbprevantagem">
                            @foreach (var Vantagens in ViewBag.Vantagens)
                            {
                                <option value="@Vantagens.Cod_Vantagem">@Vantagens.Descricao</option>
                            }
                        </select>
                        <input type="button" id="btnaddVantagens" onclick="addVantagens()" value="Adicionar" />
                    </div>

                    <div id="tree" class="tree_vantagens" style="width: 400px; height: 100px; float:left; margin-left:35px; margin-bottom:1px;">
                        <ul id="ulvantagens">
                            @foreach (var vantload in ViewBag.vantagensload)
                            {
                                List<string> v_l = new List<string>(vantload.Split('_'));
                                <li class="linha_li"><input class="codvantagem" type="hidden" value="@v_l[0]" /> @v_l[1]  <a href="javascript:deletarli(@v_l[0], '@v_l[1]')">Remover</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="linha">
                    <label for="Atributo">Atributo Bonus</label>
                    <select id="cbAtributobonus" name="cbAtributobonus">
                        @foreach (var Atributos in ViewBag.Atributos)
                        {
                            <option value="@Atributos.Cod_Atributo">@Atributos.Descricao</option>
                        }
                    </select>
                    <label for="vlrbonusa">Valor do bonus:</label>
                    <input id="vlrbonusa" class="numero" name="Raca.vlrbonus" value="" />
                    <input type="button" id="btnaddatributo" class="btnadd" value="Adicionar" onclick="addatributo()" />
                </div>
                <div class="linha">
                    <div id="boxGrid" class="grid_bonusatributo" style=" clear:both !important; margin-top: 8px; margin-left:0px; width:290px;">
                        <div id="nav">
                            <div id="BotoesGrid" class="botoes">
                            </div>
                        </div>
                        <div id="grid">
                            <table id="tabelaGrida" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr class="titulo">
                                        <th></th>
                                        <th>Atributos</th>
                                        <th>Bonus</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var bonus_atributos in ViewBag.atributosload)
                                    {
                                        List<string> b_A = new List<string>(bonus_atributos.Split('_'));
                                        <tr class="linha_grid">
                                            <td><input class="codatributo" type="hidden" value="@b_A[0]" /></td>
                                            <td class="descatributo">@b_A[2]</td>
                                            <td class="vlrbonus">@b_A[1]</td>
                                            <td><a href="javascript:deletara(@b_A[0], '@b_A[2]')">Deletar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="boxPaginacao">
                        </div>
                    </div>
                </div>

                <div class="linha">
                    <label for="Lv_PontosPericias">Pontos Pericia por Lv:</label>
                    <input id="Lv_PontosPericias" class="numero" name="Raca.Lv_PontosPericias" value="@Model.Lv_PontosPericias" required />
                </div>

                <div class="linha">
                    <label for="Lv_PontosVantagens">Pontos Vantagem por Lv:</label>
                    <input id="Lv_PontosVantagens" class="numero" name="Raca.Lv_PontosVantagens" value="@Model.Lv_PontosVantagens" required />
                </div>

                <div class="linha">
                    <label for="Lv_Ponto_Atributo">Pontos Atributo por Lv:</label>
                    <input id="Lv_pontosAtributo" class="numero" name="Raca.Lv_Ponto_Atributo" value="@Model.Lv_pontosAtributo" required />
                </div>

                <div class="linha">
                    <label for="Bonus_Hp">Bonus Hp:</label>
                    <input id="Bonus_Hp" class="numero" name="Raca.Bonus_Hp" value="@Model.Bonus_Hp" required />
                </div>

                <div class="linha">
                    <label for="Bonus_Mp">Bonus Mp:</label>
                    <input id="Bonus_Mp" class="numero" name="Raca.Bonus_Mp" value="@Model.Bonus_Mp" required />
                </div>

                <div class="linha">
                    <label for="Bonus_CA">Bonus C.A:</label>
                    <input id="Bonus_CA" class="numero" name="Raca.Bonus_CA" value="@Model.Bonus_CA" required />
                </div>

                <div class="linha">
                    <label for="Deslocamento">Deslocamento:</label>
                    <input id="Deslocamento" class="numero" name="Raca.Deslocamento" value="@Model.Deslocamento" required />
                </div>

                <div class="linha">
                    <label for="Idiomas">Idiomas:</label>
                    <textarea cols="106" rows="6" id="Idiomas" name="Raca.Idiomas" style="display:inline-block; vertical-align:middle;">@Model.Idiomas</textarea>
                </div>

                <div class="linha">
                    <label for="Caracteristicas">Caracteristicas Detalhada:</label>
                    <textarea cols="106" rows="6" id="Caracteristicas" name="Raca.Caracteristicas" style="display:inline-block; vertical-align:middle;">@Model.Descricao_Detalhada</textarea>
                </div>

                <div class="linha">
                    <label for="Campanha">Campanha</label>
                    <select id="cbCampanha" name="cbCampanha">
                        <option value="0">Global</option>
                        @foreach (var Campanhas in ViewBag.Campanhas)
                        {
                            <option value="@Campanhas.Cod_Campanha" selected="@Campanhas.Cod_Campanha.Equals(Model.Campanha)">@Campanhas.Descricao</option>
                        }
                    </select>
                </div>

                <div class="linha">
                    <input type="checkbox" checked="@Convert.ToBoolean(Model.Monstro)" id="Monstro" name="Raca.Monstro" /><span>Monstro</span>
                </div>

                <div class="linha">
                    <input type="checkbox" checked="@Convert.ToBoolean(Model.Ativo)" id="Ativo" name="Raca.Ativo" /><span>Ativo</span>
                </div>

                <div style="width: 80px; height: 100%;" class="divbtn">
                    <input class="btnsalvar" id="btnsalvar" type="button" value="Salvar" onclick="salvar()" style="margin-bottom: 25px;" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function addatributo() {
        var existe = 0;
        $('#tabelaGrida .codatributo').each(function () {
            if ($(this).val() == $("#cbAtributobonus option:selected").val()) {
                existe = 1;
                return false;
            }
        });
        if (existe == 0) {
            if (isNumber($("#vlrbonusa").val())) {
                $('#tabelaGrida').append('<tr class="linha_grid"><td><input class="codatributo" type="hidden" value="' + $("#cbAtributobonus option:selected").val() + '" /></td><td class="descatributo">' + $("#cbAtributobonus option:selected").text() + '</td><td class="vlrbonus">' + $("#vlrbonusa").val() + '</td><td><a href="javascript:deletara(' + $("#cbAtributobonus option:selected").val() + ', \'' + $("#cbAtributobonus option:selected").text() + '\')">Deletar</a></td></tr>');
            }
            else {
                alert("valor do bonus apenas numerico");
            }
        }
        else {
            alert("O Atributo " + $("#cbAtributobonus option:selected").text() + " já existe");
        }
    }

    function addpericia() {
        var existe = 0;
        $('#tabelaGrid .codpericia').each(function () {
            if ($(this).val() == $("#cbPericiabonus option:selected").val()) {
                existe = 1;
                return false;
            }
        });
        if (existe == 0) {
            if (isNumber($("#vlrbonus").val())) {
                $('#tabelaGrid').append('<tr class="linha_grid"><td><input class="codpericia" type="hidden" value="' + $("#cbPericiabonus option:selected").val() + '" /></td><td class="descpericia">' + $("#cbPericiabonus option:selected").text() + '</td><td class="vlrbonus">' + $("#vlrbonus").val() + '</td><td><a href="javascript:deletarp(' + $("#cbPericiabonus option:selected").val() + ', \'' + $("#cbPericiabonus option:selected").text() + '\')">Deletar</a></td></tr>');
            }
            else {
                alert("valor do bonus apenas numerico");
            }
        }
        else {
            alert("A Pericia " + $("#cbPericiabonus option:selected").text() + " já existe");
        }
    }

    function addVantagens() {
        var existe = 0;
        $('#ulvantagens li .codvantagem').each(function () {
            if ($(this).val() == $("#cbprevantagem option:selected").val()) {
                existe = 1;
                return false;
            }
        });
        if (existe == 0) {
            $('#ulvantagens').append('<li class="linha_li"><input class="codvantagem" type="hidden" value="' + $("#cbprevantagem option:selected").val() + '" /> ' + $("#cbprevantagem option:selected").text() + '  <a href="javascript:deletarli(' + $("#cbprevantagem option:selected").val() + ', \'' + $("#cbprevantagem option:selected").text() + '\')">Remover</a></li>');
        }
        else {
            alert("A Vantagem " + $("#cbprevantagem option:selected").text() + " já existe");
        }
    }

    function deletarli(cod, descricao) {
        if (confirm("A Vantagem " + descricao + " será excluida da classe ")) {

            $('#ulvantagens li .codvantagem').each(function () {
                if ($(this).val() == cod) {
                    $(this).parent().remove();
                    return false;
                }
            });
        }
    }

    function deletarp(cod, descricao) {
        if (confirm("A Pericia " + descricao + " será excluida da classe ")) {

            $('#tabelaGrid .codpericia').each(function () {
                if ($(this).val() == cod) {
                    $(this).parent().parent().remove();
                    return false;
                }
            });
        }
    }

    function deletara(cod, descricao) {
        if (confirm("O Atributo " + descricao + " será excluida da classe ")) {

            $('#tabelaGrida .codatributo').each(function () {
                if ($(this).val() == cod) {
                    $(this).parent().parent().remove();
                    return false;
                }
            });
        }
    }

    function salvar() {
        var Cod_Raca = $('#Cod_Raca').val();
        var Descricao_Detalhada = $('#Caracteristicas').val();
        var Descricao = $('#Descricao').val();
        var Campanha = $('#cbCampanha').val();

        var Vantagens_Desvantagens = '';
        $('#ulvantagens li .codvantagem').each(function () {
            Vantagens_Desvantagens = Vantagens_Desvantagens + $(this).val() + "_";
        });

        var Idiomas = $('#Idiomas').val();

        var Pericias = '';
        $('#tabelaGrid .linha_grid').each(function () {
            Pericias = Pericias + $(this).find('.codpericia').val() + "_" + $(this).find('.vlrbonus').html() + ";";
        });

        var Lv_PontosPericias = $('#Lv_PontosPericias').val();
        var Lv_PontosVantagens = $('#Lv_PontosVantagens').val();
        var Custo = $('#Custo').val();

        var Bonus_Atributo = '';
        $('#tabelaGrida .linha_grid').each(function () {
            Bonus_Atributo = Bonus_Atributo + $(this).find('.codatributo').val() + "_" + $(this).find('.vlrbonus').html() + ";";
        });

        var Deslocamento = $('#Deslocamento').val();
        var Monstro = $('#Monstro').prop('checked');
        var Ativo = $('#Ativo').prop('checked');
        var Bonus_Hp = $('#Bonus_Hp').val();
        var Bonus_Mp = $('#Bonus_Mp').val();
        var Bonus_CA = $('#Bonus_CA').val();
        var Lv_pontosAtributo = $('#Lv_pontosAtributo').val();

        var url = "@Url.Action("Adiciona", "Racas")";
        $.ajax({
            url: url,
            type: "POST",
            data: { Cod_Raca: Cod_Raca, Descricao_Detalhada: Descricao_Detalhada, Descricao: Descricao, Campanha: Campanha, Vantagens_Desvantagens: Vantagens_Desvantagens, Idiomas: Idiomas, Pericias: Pericias, Lv_PontosPericias: Lv_PontosPericias, Lv_PontosVantagens: Lv_PontosVantagens, Custo: Custo, Bonus_Atributo: Bonus_Atributo, Deslocamento: Deslocamento, Monstro: Monstro, Ativo: Ativo, Bonus_Hp: Bonus_Hp, Bonus_Mp: Bonus_Mp, Bonus_CA: Bonus_CA, Lv_pontosAtributo: Lv_pontosAtributo },
            success: successFunction,
            error: errorFunction
        });
    }

    $("#descricao").keyup(function () {
        limite(this, 200);
    });
</script>