@model IList<rpg.Models.Vantagem>
@{
    Layout = "~/Views/Shared/_Grid.cshtml";
}

<table id="tabelaGrid" cellpadding="0" cellspacing="0">
    <thead>
        <tr class="titulo">
            <th></th>
            <th id="col_fil_desc">Descrição</th>
            <th></th>
            <th></th>
        </tr>
        <tr class="titulo">
            <th></th>
            <th><input type="text" id="txtColuna2" /></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Vantagens in Model)
        {
            <tr class="linha">
                <td></td>
                <td>@Vantagens.Descricao</td>
                <td>
                    @Html.RouteLink("Editar", "Editar_Vantagem", new { id = Vantagens.Cod_Vantagem })
                </td>
                <td>
                    <a href="javascript: deletar(@Vantagens.Cod_Vantagem, '@Vantagens.Descricao', this)">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modaljs" id="modaljs">
    <p class="textjs">Aguarde</p>
</div>
<script>
    $(function () {
        $("#tabelaGrid input").keyup(function () {
            var index = $(this).parent().index();
            var nth = "#tabelaGrid td:nth-child(" + (index + 1).toString() + ")";
            var valor = $(this).val().toUpperCase();
            $("#tabelaGrid tbody tr").show();
            $(nth).each(function () {
                if ($(this).text().toUpperCase().indexOf(valor) < 0) {
                    $(this).parent().hide();
                }
            });
        });
        $("#tabelaGrid input").blur(function () {
            $(this).val("");
        });
    });
       

    function deletar(cod_vantagem, descricao, botao) {
        if (confirm("A Vantagem " + descricao +" será excluida do sistema ")) {
            var par = $(botao).parent().parent()
            par.remove();
            $('table tbody tr:odd').removeClass("zebraUm zebraDois").addClass('zebraUm');
            $('table tbody tr:even').removeClass("zebraUm zebraDois").addClass('zebraDois');

            var url = "@Url.Action("delete", "Vantagens")";
            $.ajax({
                url: url,
                type: "POST",
                data: { cod_vantagem: cod_vantagem },
                beforeSend: beforeSendFunction,
                success: successFunction,
                error: errorFunction,
                complete: completeFunction
            });
        }
    }

    function botaonovo() {
        window.location.href = 'Vantagem/0';
    }

</script>   